body {
    display: flex;
    gap: 10px;
}

div {
    box-sizing: border-box;
    display: flex;
    width: 80px;
    height: 80px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
}

div:active {
    border: 4px black solid;
    background-color:yellow;

}