body {
    background-color: rgb(21, 4, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.line {
    background: white;
    width: 50px;
    height: 10px;
    margin: 10px;
    border-radius: 10%;

}


label {
    display: block;
    width: 200px;
    height: 200px;
}

#a:checked + label .line1 {
    transform: rotate(-45deg);
    position: left top;

}