

.time {
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.back{
    position: relative;
}
.back {
    width: 100%;
    height: auto;
    position: absolute; 
    top: 0;
    left: 0;
}