body{
    display: flex;
    background-color: rgb(185, 185, 162);
    gap:10px;
    
}
.pro{
    border: blue 2px solid ;
}
.box{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}
.button{
    background-color: blue;
    color: white;
    border-radius: 10%;
    padding: 10px;
}
.button:hover{
 cursor: pointer;
 background-color:rgb(58, 58, 255);
}