.A{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
}
.A div{
    height: 20%;
    width: 20%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
 align-items: center;
 background-color: cadetblue;
}

.A div:nth-child(2n) {
    background-color: aqua;
}
.A div:nth-child(3n){
    background: antiquewhite;
}
.A div:nth-child(4n){
    background-color: blueviolet;
}
.A div:nth-child(5n){
    background-color: brown;
}
